ion-content {
  background: #e2e2e2;
  .custom-container{
    width: 100%;
    background: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
.custom-header{
  width: 100%;
  padding: 1.5vh;
  height: 10vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  & > span{
    font-size: 1.3em;
    font-weight: bold;
  }
  .image-avatar-container{
    border-radius: 50%;
    height: 7vh;
    width: 7vh;
    overflow: hidden;
    margin-right: 2em;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
}
