<ion-content>
  <!--<video-->
          <!--width="720"-->
          <!--height="560"-->
          <!--autoplay-->
          <!--muted-->
          <!--id="video">-->

  <!--</video>-->
  <div class="background-container">
    <div class="background-container-shadow">
      <span class="custom-title">Pisco</span>
      <div class="buttons-container">
        <ion-fab-button  color="primary" (click)="takePicture()">
          <ion-icon  name="camera"></ion-icon>
        </ion-fab-button>
      </div>
    </div>
  </div>
</ion-content>
