<ion-content>
  

  <div class="background-container">
    <div class="background-container-shadow">
      <span class="custom-title">Pisco</span>
      <div class="buttons-container">
        <!-- <ion-fab-button
                color="primary"
                *ngIf="isPlatform !== 'dom'"
                (click)="takePicture()">
          <ion-icon  name="camera"></ion-icon>
        </ion-fab-butt
        on>
        <input
          accept="image/*"
          *ngIf="isPlatform === 'dom'"
          id="raised-button-file"
          style="display:none"
          (change)="captureImageFromPc($event)"
          type="file"/> -->
        <label for="raised-button-file">
          <ion-fab-button  color="primary">
            <ion-icon  name="camera" (click)="captureImage()"></ion-icon>
          </ion-fab-button>
        </label>
        <video
          width="720"
          height="560"
          autoplay
          muted
          id="video"></video>
        <div id="output"></div>

      </div>
    </div>
  </div>
</ion-content>
